*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    color: black;
}

.container{
    max-width: 1300px;
    margin: 0;
}

.row
{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-between;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    height: 625px;
}

.col-2 img{
    width: 20rem;
    height: 20rem;
    margin-top: 10rem;
    margin-left: 8rem;
}

.col-3{
    background: #ff9933;
    margin-bottom: 0;
}

input[type=text] {
    width: 70%;
    padding: 12px 20px;
    border-radius: 1rem;
    margin-left: 8rem;
    border-color: #ff9933;
    border-width: 0.1rem;
}

.btn {
    display: inline-block;
    background: #ff9933;
    color: #fff;
    padding: 10px 187px;
    margin-left: 8rem;
    margin-top: 1rem;
    border-radius: 30px;
    text-decoration: none;
}

.btn1 {
    display: inline-block;
    background: #fff;
    color: #ff9933;
    padding: 10px 20px;
    margin-left: 33rem;
    margin-top: 1rem;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

h2{
    color: #ff9933;
    margin-left: 17rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 12rem;
}

.col-2  span{
    color: #ff9933;
   
}
.col-2 p{
     margin-left: 28rem;
     margin-tOP: 1rem;
     font-size: .5rem;
}

.col-4{
    background-image: url(../Image/Bg.png);
    background-repeat: no-repeat;
    background-size: 1300px 1000px;
}

.col-2 .P{
    margin-left: 17rem;
    margin-tOP: 9rem;
    font-size: .8rem;
}

.col-2 .P1{
    margin-left: 16.7rem;
    font-size: .8rem;
     margin-tOP: 0.2rem;
}